ASPNETCORE_ENVIRONMENT=
ASPNETCORE_HTTP_PORTS=
DB_CONNECTION_STRING=
PG_PASSWORD=
PG_USER=
Jwt__Key=

DynamoDb__LogTableName=
DynamoDb__UseLocal=
DynamoDb__LocalUrl=
DynamoDb__Region=
DynamoDb__ProfileName=